@using Atlas.Application.Countries

@inject IStringLocalizer<Resources> Localizer

<ul class="container" role="list">
	@foreach (GuessedCountryResponse guess in GameState.Guesses)
	{
		<li class="guess @FoundCountryCss(guess.Success)">

			<span class="title" title="@guess.Name">@guess.Name</span>
			<div class="vr"></div>
			<div class="continent">
				<span>@Localizer[Resources.Continent]</span>
				<i class="@IsSameContinentCss(guess.IsSameContinent)"></i>
			</div>
			<div class="vr"></div>
			<span>@guess.Kilometers.ToString("N0", _numberFormat) Km</span>
			<div class="vr"></div>
			<div class="direction">
				<span>@Localizer[Resources.Direction]</span>
				<span>
					<i style="transform: rotate(@(guess.Direction)deg);" class="@DirectionCss(guess.Success)"></i>
				</span>
			</div>
		</li>
	}
	@for (int attempts = GameState.Guesses.Count; attempts < GameState.MaxAttempts; attempts++)
	{
		<li class="guess empty @HasWonGameCss">
			<span>@(attempts + 1) / @GameState.MaxAttempts</span>
		</li>
	}
</ul>
