@page "/"

@inject IStringLocalizer<Resources> Localizer

<div class="container">
	<div class="game-list">
		<h2><i class="@Icons.Flag"></i><span>@Localizer[Resources.Flags]</span></h2>
		<div class="games">
			<a class="btn-link" href="/flags/daily">@Localizer[Resources.Daily]</a>
			<a class="btn-link" href="/flags/random">@Localizer[Resources.Random]</a>
		</div>
	</div>
	<div class="game-list">
		<h2><i class="@Icons.Earth"></i><span>@Localizer[Resources.Countries]</span></h2>
		<div class="games">
			<a class="btn-link" href="/countries/daily">@Localizer[Resources.Daily]</a>
			<a class="btn-link" href="/countries/random">@Localizer[Resources.Random]</a>
		</div>
	</div>
</div>
