@using Web.App.Options
@using Web.App.Services

@inject ITimeService timeService
@inject ProjectOptions project
@inject CompanyOptions company

<footer>
    <ul role="list">
        <li>&copy; @GetCopyrightYear()</li>
        <li>
            <a class="link" target="_blank" href="@company.Url">
                <i class="@Icons.Company"></i>
                <span>@company.Name</span>
            </a>
        </li>
        <li>
            <a class="link">
                <span>@project.Version</span>
            </a>
        </li>
    </ul>
</footer>

@code {
    protected override bool ShouldRender() => false;

    private string GetCopyrightYear()
    {
        const int startYear = 2024;

        int currentYear = timeService.Today.Year;

        return currentYear == startYear
            ? startYear.ToString()
            : $"{startYear} - {currentYear}";
    }
}
