@using Web.App.Components.Modals
@using Web.App.Options

@inject ProjectOptions Project
@inject CompanyOptions Company

<footer>
    <ul role="list">
        <li>&copy; @DateTime.Today.Year</li>
        <li>
            <a class="link" target="_blank" href="@Company.Url">
                <i class="@Icons.Company"></i>
                <span>@Company.Name</span>
            </a>
        </li>
        <li>
            <a class="link" @onclick="Modal.ShowChangelog">
                <span>@Project.Version</span>
            </a>
        </li>
    </ul>
</footer>

@code {
    [CascadingParameter]
    public required SettingsModal Modal { get; init; }

    protected override bool ShouldRender() => false;
}
