@using Web.App.Components.Modals
@using Web.App.Games.Components
@using Web.App.Games.Flags.Components

@page "/flags/daily"

@inject IStringLocalizer<Resources> localizer

<div class="game">
    @if (_gameState.Country is null)
    {
        <div class="placeholder" aria-hidden="true">
        </div>
    }
    else
    {
        <picture class="@DifficultyCss" @onclick="() => _zoomModal.Show()">
            <source srcset="@_gameState.Country.Resources.Flag" />
            <img src="@_gameState.Country.Resources.Flag" alt="@localizer[Resources.FailedDisplayFlag]" />
        </picture>
    }
    <div class="content">
        <CascadingValue Value="_gameState" IsFixed="false">
            @if (!_gameState.GameFinished)
            {
                <CountryLookupInput Guess="GuessAsync" />
            }
            else
            {
                <GameOver />
            }
            <FlagGuesses />
        </CascadingValue>
    </div>
    <div class="actions">
        <a href="/" class="link">
            <i class="@Icons.ArrowLeftCircle"></i>
            <span>@localizer[Resources.GoBack]</span>
        </a>
        <button class="btn-give-up" disabled="@_gameState.GameFinished" @onclick="GiveUp">@localizer[Resources.GiveUp]</button>
    </div>
</div>

@if (_gameState.Country is not null)
{
    <ZoomModal @ref="_zoomModal" Image="_gameState.Country.Resources.Flag" DifficultyCss="@DifficultyCss" />
}
