@inject IStringLocalizer<Resources> Localizer

<div class="game-over">
    @if (!GameState.Guesses.Any(g => g.Success))
    {
        <a class="link" target="_blank" href="@GameState.Country?.Resources.Map">
            <i class="@Icons.GeoAlt"></i>
            <span class="answer">@GameState.Country?.Name</span>
        </a>
    }
    else
    {
        <div class="congratulations">
            <span>@Localizer[Resources.Congratulations]</span>
            <a class="link" target="_blank" href="@GameState.Country?.Resources.Map">
                <i class="@Icons.GeoAlt"></i>
                <span class="answer">@Localizer[Resources.SeeOnMap]</span>
            </a>
        </div>
    }
    @if (OnPlayAgain.HasDelegate)
    {
        <button type="button" @onclick="OnPlayAgain">@Localizer[Resources.PlayAgain]</button>
    }
</div>

@code {
    [CascadingParameter]
    public required GameState GameState { get; init; }

    [Parameter]
    public EventCallback OnPlayAgain { get; init; }
}
