@using Web.App.Games.Components
@using Web.App.Settings

@page "/countries/random/{cca2?}"
@inject IStringLocalizer<Translations> Localizer

<CascadingValue Value="_gameState" IsFixed="false">
	<div class="game">
		<div class="challenge-card @FoundCss">
			@if (_gameState.Country is null)
			{
				<span class="spinner"></span>
			}
			else
			{
				if (!_gameState.GameFinished)
				{
					<picture class="country">
						<source srcset="@_gameState.Country.Resources.Country" />
						<img src="@_gameState.Country.Resources.Country" alt="@Localizer.AlternateCountryImage" style="@State.Country.Css(_gameState.Guesses.Count, _rotation)" />
					</picture>
				}
				else
				{
					<GameOver SecondaryActionLabel="@Localizer.PlayAgain" OnSecondaryActionClick="PlayAgainAsync">
						<picture class="country">
							<source srcset="@_gameState.Country.Resources.Country" />
							<img src="@_gameState.Country.Resources.Country" />
						</picture>
					</GameOver>
				}
			}
		</div>
		<LookupInput @ref="_input" OnLookup="GuessAsync" />
		<Guesses />
	</div>
</CascadingValue>
