@using Atlas.Application.Countries
@using Atlas.Application.Countries.Queries

@inject IStringLocalizer<Resources> localizer
@inject IGetAllCountries handler

@if (_countries.Length > 0)
{
    @foreach (var country in _countries.OrderBy(c => c.Name))
    {
        <div class="country-card">
            <picture>
                <source srcset="@country.Resources.Flag" />
                <img src="@country.Resources.Flag" alt="@country.Name" class="flag" />
            </picture>
            <h3 class="name">@country.Name</h3>
        </div>
    }
}
else
{
    <p>@localizer[Resources.NoCountriesAvailable]</p>
}

@code {
    private CountryResponse[] _countries = [];

    protected override async Task OnInitializedAsync()
        => _countries = await handler.HandleAsync(CancellationToken.None);
}
