@typeparam T where T : struct, Enum

@inject IStringLocalizer<Resources> localizer

<div class="radio-group">
    @foreach ((T difficulty, string name) in GetDifficulties())
    {
        <div class="radio">
            <label for="@GetRadioId(name)">@localizer[name]</label>
            <input id="@GetRadioId(name)"
                   name="@GroupName"
                   type="radio"
                   disabled="@Disabled"
                   checked="@Value.Equals(difficulty)"
                   @onchange="async () => await ValueChanged.InvokeAsync(difficulty)" />
        </div>
    }
</div>
